@import '../general/general-button.scss';


$buttonRedActivated:#B84232;
$buttonRedDeactivated: #E5BAB4;

.action-button{
    @extend .general-button;
    margin-left: 10px;

    span{
        margin-left: 8px;
    }
}

.action-button-white{
    @extend .action-button;
    background-color: rgba($color: #000000, $alpha: 0);
    color: $color1;
    border: 1px solid $color1;
}

.action-button-red{
    @extend .action-button;
    background-color: $buttonRedActivated;
    color: $color2;
    border: none;
}