<div class="video-box">

</div>

<article class="article-area">
    <div class="header-article">
        <h1 style="font-family: source sans pro;">Orientações</h1>
        <a href="../../../assets/pdf/manualGestão.pdf" target="_blank" class="print-button">
            <mat-icon style="margin-right: 8px;">print</mat-icon> imprimir Orientações
        </a>
    </div>

    <section>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quibusdam eligendi provident tenetur ea rerum optio alias, rem dicta culpa est similique quod sapiente ut architecto soluta reprehenderit illo quos dolores?</section>
    <section>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptates reprehenderit tenetur nostrum, sed voluptate assumenda amet numquam odio est autem ipsam, sequi tempore dolor aspernatur, ullam eum eligendi molestias beatae!</section>
</article>  