@import '../shared/css/general/general-button.scss';

$color1: #0069AC;
$color2: white;

.video-box{
    width: 100%;
    height: 270px;
    background-color: black;
}

.article-area{
    font-family: work sans;
    padding: 30px;
}

section{
    font-size: 14px;
    font-family: work sans;
    margin-bottom: 20px;
}

.header-article{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.print-button{
    @extend .general-button;
}


.test {
    background-color: blue;
    width: 20px;
    height: 20px;
    margin-left: 50px;
}

.box{
    width: 10px;
    height: 10px;
    background-color: black;
}

.test::after{
    content: "<div class='box'></div>";
    width: 30px;
    height: 5px;
}