<div class="formulario-header">
    <div>
        <h1>Formulários metas</h1>
        <span>N.º de colaboradores: N</span>
    </div>
</div>

<div class="formulario-body">

    <table class="formulario-table">
        <tr>
            <th>Ata</th>
            <th>Form. Metas</th>
            <th>NP do Gestor</th>
            <th>Nome do Gestor/th>
            <th>Ritmo</th>
            <th>Ult. Atualização</th>
            <th>Status</th>
        </tr>
        <tr *ngFor="let data of formDatas">
            <td>{{data.ata?'Ok':''}}</td>
            <td>{{data.formMetas}}</td>
            <td>{{data.nomeGestor}}</td>
            <td>{{data.npGestor}}</td>
            <td>{{data.ritmo}}</td>
            <td>{{data.status}}</td>
            <td>{{data.ultAtualizacao | date:'shortDate'}}</td>
        </tr>
    </table>


    <section class="formulario-pagination">
        <div class="left-pagination">
            <div class="select-area">
                <select name="" id="">
                    <option value="10">10/página</option>
                    <option value="10">15/página</option>
                    <option value="10">20/página</option>
                </select>
                <mat-icon class="select-icon">arrow_drop_down</mat-icon>
            </div>

            <span>Exibindo de 'N' a 'M' do total de 'X'</span>
        </div>
        <div class="right-pagination">
            <mat-icon>last_page</mat-icon>
            <mat-icon>chevron_right</mat-icon>
            <span class="page-label">1</span>
            <mat-icon>chevron_left</mat-icon>
            <mat-icon>first_page</mat-icon>
        </div>
    </section>
</div>