<div class="formulario-header">
    <div>
        <h1>Formulários metas</h1>
        <span>N.º de colaboradores: N</span>
    </div>
</div>

<div class="formulario-body">

    <table class="formulario-table">
        <tr>
            <th>
                text
            </th>
            <th>Column2</th>
            <th>Column3</th>
            <th>Column4</th>
            <th>Column5</th>
        </tr>
        <tr>
            <td>Column1</td>
            <td>Column2</td>
            <td>Column3</td>
            <td>Column4</td>
            <td>Column5</td>

        </tr>
        <tr>
            <td>Column1</td>
            <td>Column2</td>
            <td>Column3</td>
            <td>Column4</td>
            <td>Column5</td>

        </tr>
    </table>


    <section class="formulario-pagination">
        <div class="left-pagination">
            <div class="select-area">
                <select name="" id="">
                    <option value="10">10/página</option>
                    <option value="10">15/página</option>
                    <option value="10">20/página</option>
                </select>
                <mat-icon class="select-icon">arrow_drop_down</mat-icon>
            </div>

            <span>Exibindo de 'N' a 'M' do total de 'X'</span>
        </div>
        <div class="right-pagination">
            <mat-icon>last_page</mat-icon>
            <mat-icon>chevron_right</mat-icon>
            <span class="page-label">1</span>
            <mat-icon>chevron_left</mat-icon>
            <mat-icon>first_page</mat-icon>
        </div>
    </section>
</div>