@import '../../css/general/general-table.scss';

$totalfontcolor:#0069AC;

.table{
    @extend .general-table;

    .first-column{
        width: 60%;
    }


    .other-columns{
        width: 20%;
    }

    .total{
        font-size: 14px;
        color: $totalfontcolor;
    }
}

.no-margin{
    margin-bottom: 0px;
}