@import '../Shared/css/general/general-header.scss';
@import '../Shared/css/general/general-body.scss';
@import '../Shared/css/general/general-table.scss';
@import '../Shared/css/general/general-button.scss';


.celula-header {
    @extend .general-header;

    .left-header{
        width: 25%;
    }

    .mid-header{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 15px;
        width: 30%;
    }

    .right-header{
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        width: 45%;
    }
}

.celula-button{
    @extend .general-button;

    margin-left: 10px;
}

.ataCollor-button{
    background-color: #ECF2F6;
    color: #244577;
}

.celula-body{
    @extend .general-body;
}

.celula-table{
    @extend .general-table;
}