<div class="celula-header">
    <div class="left-header">
        <span>Ciclo {{infos.ciclo | date:"yyyy"}}</span>
        <h1>Minha célula</h1>
    </div>

    <div class="mid-header">
        <span>Area do RH: {{infos.areaRh}} </span>
        <span>Numero de colaboradores: {{infos.numColaboradores}} </span>
    </div>

    <div class="right-header">
        <a href="../../../assets/pdf/manualGestão.pdf" target="_blank" class="celula-button ataCollor-button">
            Visualizar ata
        </a>
        <a href="../../../assets/pdf/manualGestão.pdf" target="_blank" class="celula-button">
            Solicitar ajuste
        </a>
    </div>
</div>

<div class="celula-body">
    <table class="celula-table">
        <tr>
            <th>Número pessoal</th>
            <th>Nome completo</th>
            <th>Título</th>
            <th>E-mail</th>
        </tr>
        <tr *ngFor="let data of tableDatas">
            <td>{{data.numeroPessoal}}</td>
            <td>{{data.nomeCompleto}}</td>
            <td>{{data.titulo}}</td>
            <td>{{data.email}}</td>
        </tr>
    </table>

    
</div>
