<div class="simulador-header">
    <div class="header-column">
        <h1>Simular Dashboard</h1>
        <form class="header-fields">
            <div class="form-area">
                <label for="label1">Número pessoal/nome do gestor</label>
                <input type="text" >
            </div>
            <div class="form-area">
                <label for="label1">Formulário Metas</label>
                <select name="" id="">
                    <option value="alexandre">Alexandre</option>
                </select>
            </div>
            
            <div class="form-area">
                <label for="label1">Status</label>
                <div class="header-status">hoje</div>
            </div>

            <div class="form-area">
                <label class='not-visible'>a</label>
                <input type="submit" class="header-submit"/>
            </div>
        </form>
    </div>
</div>

<div class="simulador-body">
    <p>simulador works!</p>
</div>
