<app-dashboard-formulario-layout>

    
    <a href="" class="action-button-white" actions-area>
        <mat-icon>print</mat-icon>
        <span>Imprimir</span>
    </a>
    
    <a href="" class="action-button-white" actions-area>
        <mat-icon>save</mat-icon>
        <span>salvar</span>
    </a>
    
    <a href="" class="action-button" actions-area>
        <mat-icon>check</mat-icon>
        <span>Avaliar resultados</span>
    </a>


    <app-representante-indicadores-table [tabelaLinguagem]="dashboardLinguagem?.tabela" body></app-representante-indicadores-table>

    <div class="home-body" *ngIf="!showMes" >
        <app-resulthome-table [resultadosLinguagem]="dashboardLinguagem?.tabelaResultado" [resultados]="resultadosList"></app-resulthome-table>
      
        <app-faltahome-table [faltasLinguagem]="dashboardLinguagem?.tabelaFalta" [faltas]="faltas"></app-faltahome-table>
      </div>

</app-dashboard-formulario-layout>