<app-dashboard-formulario-layout [dashboardLinguagem]="dashboardLinguagem" (mesNavegado)="MesNavegado($event)">

    
    <a href="" class="action-button-white" actions-area>
        <mat-icon>print</mat-icon>
        <span>Imprimir</span>
    </a>
    
    <a href="" class="action-button-white" actions-area>
        <mat-icon>save</mat-icon>
        <span>salvar</span>
    </a>
    
    <a href="" class="action-button" actions-area>
        <mat-icon>check</mat-icon>
        <span>Enviar para aprovação</span>
    </a>

    <div body class="form-actions-area" *ngIf="showMes">
        <a class="action-button-red" (click)="RemoverIndices()">Remover indicador</a>
        <a class="action-button-white">adicionar indicadores</a>
    </div>

    <app-representante-indicadores-table *ngIf="showMes" 
        [tabelaLinguagem]="dashboardLinguagem?.tabela" 
        [formStateEntry]="formStateSubject" body>
    </app-representante-indicadores-table>

    <div body class="home-body" *ngIf="!showMes" >
        
        <app-resulthome-table [resultadosLinguagem]="dashboardLinguagem?.tabelaResultado" [resultados]="resultadosList"></app-resulthome-table>
      
        <app-faltahome-table [faltasLinguagem]="dashboardLinguagem?.tabelaFalta" [faltas]="faltas"></app-faltahome-table>
    
    </div>

</app-dashboard-formulario-layout>