<app-dashboard-formulario-layout>

    
    <a href="" class="action-button-white" actions-area>
        <mat-icon>print</mat-icon>
        <span>Imprimir</span>
    </a>
    
    <a href="" class="action-button-white" actions-area>
        <mat-icon>save</mat-icon>
        <span>salvar</span>
    </a>
    
    <a href="" class="action-button" actions-area>
        <mat-icon>check</mat-icon>
        <span>Avaliar resultados</span>
    </a>


    <app-representante-indicadores-table [tabelaLinguagem]="indicadoresLinguagem" body></app-representante-indicadores-table>


</app-dashboard-formulario-layout>