<table class="representante-indicadores-table">
    <tr>
        <th *ngIf="true" style="width: 1%;">
            <mat-checkbox [color]="'primary'" (change)="Change($event)"></mat-checkbox>
        </th>
        <th>{{tabelaLinguagem?.column1}}</th>
        <th>{{tabelaLinguagem?.column2}}</th>
        <th>{{tabelaLinguagem?.column3}}</th>
        <th>{{tabelaLinguagem?.column4}}</th>
        <th>{{tabelaLinguagem?.column5}}</th>
        <th>{{tabelaLinguagem?.column6}}</th>
        <th>{{tabelaLinguagem?.column7}}</th>
        <th>{{tabelaLinguagem?.column8}}</th>
        <th>{{tabelaLinguagem?.column9}}</th>
    </tr>

    

    <tr *ngFor="let item of itemList">
        <td><mat-checkbox 
            (change)="ChangeRow(item)"
            [checked]="item.selected" 
            [color]="'primary'">
        </mat-checkbox></td>
        <td>{{item.indicador}}</td>
        <td>{{item.unidadeMedida}}</td>
        <td>{{item.frequencia}}</td>
        <td>{{item.peso}}</td>
        <td>{{item.minimo}}</td>
        <td>{{item.planejado}}</td>
        <td>{{item.desafio}}</td>
        <td>{{item.resultado}}</td>
        <td>{{item.simulacao}}</td>
    </tr>
    
    
    <tr >
        <th class="resumo" *ngIf="true"></th>
        <th class="resumo">{{tabelaLinguagem?.resumoCelula}}</th>
        <th class="resumo"></th>
        <th class="resumo"></th>
        <th class="resumo">{{GetFrequenciaTotal()}}</th>
        <th class="resumo"></th>
        <th class="resumo"></th>
        <th class="resumo"></th>
        <th class="resumo"></th>
        <th class="resumo"></th>
    </tr>
</table>