$color1: #0578BE;
$color2: white;
$color3: #0069AC;
$color4: #b2dbf5;

.matToolbar {
    display: flex;
    background-color: $color1;
    color: $color2;

    .logo {
        width: 20%;
    }

    .endToolbar {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
        height: 100%;
    }

    .form-select {
        height: 41px;
        width: 25%;
        font-size: 18px;
        font-family: Work Sans;
    }
}

.mainBody {
    display: flex;
    width: 100%;
    height: 92.6%;
    overflow: hidden;
}

.router {
    width: 100%;
    overflow: auto;
}

.sideMenu {
    width: 50px;
    height: 100%;
    background-color: white;
    border-right: 1px solid rgb(221, 221, 221);
    display: flex;
    align-items: center;
    flex-direction: column;

    .sideItem {
        display: flex;
        justify-content: center;
        padding: 25%;
        width: 100%;
        color: #0069AC;
        text-decoration: none;
        overflow: hidden;
        cursor: pointer;

    }

    .sideItem:hover {

        background-color: $color4;
    }
}

.sidenav-container {
    height: 92.7%;
    width: 100%;

    .sidenav {
        width: 20%;

        .sidenav-top{
            width: 100%;
            height: 70%;
            display: flex;
            flex-direction: column;
        }

        .sidenav-bottom{
            width: 100%;
            height: 30%;
            display: flex;
            flex-direction: column-reverse;
        }

        .sidenav-item {
            padding-left: 12px;
            display: flex;
            align-items: center;
            text-decoration: none;
            font-family: source sans pro;
            width: 100%;
            height: 55px;
            color: $color3;
            cursor: pointer;

            .sidenav-icon {
                margin-right: 12px;
            }
        }

        .sidenav-item:focus{
            outline: none;
        }
        .sidenav-item:hover {
            background-color: $color4;
        }

        .sidenav-item-close {
            @extend .sidenav-item;
            
            font-size: 32px;
        }
    }

    .sidenav-content {
        display: flex;
    }
}

.topIcons {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    height: 70%;
}

.bottomIcons {
    position: initial;
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    align-items: center;
    height: 30%;
}