<app-dashboard-formulario-layout [dashboardLinguagem]="dashboardLinguagem" 
    (mesNavegado)="MesNavegado($event)">
    <div body *ngIf="showMes" style="width: 100%;">
        <div style="width: 100%;" *ngFor="let formulario of formularioList">
            <app-home-table 
            [tabelaLinguagem]="dashboardLinguagem?.tabela" 
            [itemList]="formulario.indicadores"></app-home-table>
          </div>
    </div>

    <div body *ngIf="!showMes">
        <app-resulthome-table [resultadosLinguagem]="dashboardLinguagem?.tabelaResultado">

        </app-resulthome-table>
    </div>


</app-dashboard-formulario-layout>