@import '../Shared/css/general/general-header.scss';
@import '../shared/css/general/general-body.scss';
@import '../Shared/css/general/general-table.scss';
@import '../Shared/css/general/general-pagination.scss';

$color1: #EFEFEF;
$color2: white;
$color3: #707070;
$color4: #0069AC;

.historico-header{
    @extend .general-header;
}

.historico-body{
    @extend .general-body;
}


.historico-table{
    @extend .general-table;
}

.historico-pagination {
    @extend .general-pagination;
}