<div class="title" mat-dialog-title>
    <h2>{{TutorialLingua?.title}}</h2>
    <h4>{{TutorialLingua?.subtitle}}</h4>
</div>
<mat-dialog-content>
    <div class="video-box">

    </div>
</mat-dialog-content>
<mat-dialog-actions class="actions">
    <button 
        [mat-dialog-close]="" 
        [routerLink]="['main','orientacoes']" 
        class="orientacoes-button">
        {{TutorialLingua?.button1}}
    </button>
    <button [mat-dialog-close]="'ok'" class="treinamento-button">{{TutorialLingua?.button2}}</button>
</mat-dialog-actions>