$color1: #0578BE;
$color2: white;
$color3: #0069AC;
$color4: #b2dbf5;

.sideMenu {
    width: 50px;
    height: 100%;
    background-color: white;
    border-right: 1px solid rgb(221, 221, 221);
    display: flex;
    align-items: center;
    flex-direction: column;

    
}


.sideItem:hover {
    
    background-color: $color4;
}

.sideItem {
    display: flex;
    justify-content: center;
    padding: 25%;
    width: 100%;
    color: #0069AC;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;

}