$color1: #0069AC;
$color2: #ECF2F6;

.general-button{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    max-height: 40px;
    min-height: 35px;
    color: $color2;
    padding: 3px 20px;
    border-radius: 5px;
    background-color: $color1;
    cursor: pointer;
}