<app-master-page-layout [showNotificationButton]="false">

    <!-- Relaciona ao side nav-->
    <a class="sideItem" [routerLink]="['dashboard']" icons-top>
        <mat-icon svgIcon="dashboard"></mat-icon>
    </a>



    <!-- Relacionado ao side menu-->
    <a class="sidenav-item" [routerLink]="['dashboard']" sidenav-top (click)="ToggleSidenav()">
        <mat-icon class="sidenav-icon" svgIcon="dashboard"></mat-icon>
        <span>{{masterPageLinguagem?.DashboardLabel}}</span>
    </a>



    <!-- Relacionado ao router-->
    <router-outlet router></router-outlet>

</app-master-page-layout>

