<app-master-page-layout [showNotificationButton]="false">

    <!-- Relaciona ao side nav-->
    <a class="sideItem" [routerLink]="['dashboard']" icons-top>
        <mat-icon svgIcon="dashboard"></mat-icon>
    </a>



    <!-- Relacionado ao side menu-->
    <a class="sidenav-item" [routerLink]="['dashboard']" sidenav-top (click)="ToggleSidenav()">
        <mat-icon class="sidenav-icon" svgIcon="dashboard"></mat-icon>
        <span>{{masterPageLinguagem?.ItemMenu2}}</span>
    </a>



    <!-- Relacionado ao router-->
    <router-outlet router></router-outlet>

</app-master-page-layout>

<!--<mat-toolbar class="matToolbar">
    <div class="logo">
        <a [routerLink]="['/main']" >  
            <img
                src="../../../assets/img/Programa Metas_branco.png" 
                class="logoImg" alt="">
        </a>
    </div>
    <div class="endToolbar">
        <select class="form-select" name="" id="" (click)="CicloSelecionado($event)">
            <option *ngFor="let ciclo of ciclo?.ciclos" value=1>
                {{masterPageLinguagem?.dropdownText}} {{ciclo}}</option>
        </select>
        <a class="notification-button" matBadge="*" matBadgeColor="warn"
            (click)="ChangeState()">
            <mat-icon svgIcon="notificacoes"></mat-icon>
        </a>

    </div>
</mat-toolbar>


<app-notificacao-menu [notificacoesLinguagem]="masterPageLinguagem?.notificacoes" 
(close)="ChangeState()" [open]="open" class="notificacao"></app-notificacao-menu>

<mat-sidenav-container class="sidenav-container" [hasBackdrop]="true">
    <mat-sidenav #drawer  class="sidenav" opened="false" mode="over">
        
        <div class="sidenav-top">
            <a class="sidenav-item-close" (click)="drawer.toggle()">
                <mat-icon class="sidenav-icon">close</mat-icon>
                <span>{{masterPageLinguagem?.ItemMenu1}}</span>
            </a>
            <a class="sidenav-item" 
                [routerLink]="['/main']" 
                (click)="drawer.toggle()"
            >
                <mat-icon class="sidenav-icon" svgIcon="dashboard"></mat-icon>
                <span>{{masterPageLinguagem?.ItemMenu2}}</span>
            </a>

            <a class="sidenav-item" 
                [routerLink]="['/main','minhacelula']" 
                (click)="drawer.toggle()"
            >
                <mat-icon class="sidenav-icon" svgIcon="formulario_metas"></mat-icon>
                <span>{{masterPageLinguagem?.ItemMenu3}}</span>
            </a>

            <a class="sidenav-item" 
                [routerLink]="['/main','simulador']" 
                (click)="drawer.toggle()"
            >
                <mat-icon class="sidenav-icon" svgIcon="dashboard"></mat-icon>
                <span>{{masterPageLinguagem?.ItemMenu4}}</span>
            </a>
            
            <a class="sidenav-item" 
                [routerLink]="['/main','planejamento']" 
                (click)="drawer.toggle()"
            >
                <mat-icon class="sidenav-icon" svgIcon="cronograma_metas"></mat-icon>
                <span>{{masterPageLinguagem?.ItemMenu5}}</span>
            </a>
            
            <a class="sidenav-item" 
                [routerLink]="['/main','historico']" 
                (click)="drawer.toggle()"
            >
                <mat-icon class="sidenav-icon" svgIcon="archive"></mat-icon>
                <span>{{masterPageLinguagem?.ItemMenu6}}</span>
            </a>

            <a class="sidenav-item" 
                [routerLink]="['/main','Cronograma']" 
                (click)="drawer.toggle()"
            >
                <mat-icon class="sidenav-icon" svgIcon="cronograma_metas"></mat-icon>
                <span>{{masterPageLinguagem?.ItemMenu7}}</span>
            </a>

            <a class="sidenav-item" 
                [routerLink]="['/main','formularios']"
                (click)="drawer.toggle()"
            >
                <mat-icon class="sidenav-icon" svgIcon="formulario_metas"></mat-icon>
                <span>{{masterPageLinguagem?.ItemMenu8}}</span>
            </a>

            <a class="sidenav-item" 
                [routerLink]="['/main','formularios']"
                (click)="drawer.toggle()"
            >
                <mat-icon class="sidenav-icon" svgIcon="configuracao"></mat-icon>
                <span>{{masterPageLinguagem?.ItemMenu9}}</span>
            </a>
        </div>

        <div class="sidenav-bottom">
            <a class="sidenav-item" (click)="drawer.toggle()">
                <mat-icon class="sidenav-icon" svgIcon="help_desk"></mat-icon>
                <span>{{masterPageLinguagem?.ItemMenu10}}</span>
            </a>
            <a class="sidenav-item" [routerLink]="['/main','orientacoes']">
                <mat-icon class="sidenav-icon" svgIcon="orientacoes"></mat-icon>
                <span>{{masterPageLinguagem?.ItemMenu11}}</span>
            </a>
            <a class="sidenav-item" href="../../../assets/pdf/manualGestão.pdf" target="_blank">
                <mat-icon class="sidenav-icon" svgIcon="cultura_gerdau"></mat-icon>
                <span>{{masterPageLinguagem?.ItemMenu12}}</span>
            </a>
        </div>


    </mat-sidenav>

    <mat-sidenav-content class="sidenav-content">

        <div class="sideMenu">

            <div class="topIcons">
                <a (click)="drawer.toggle()" class="sideItem">
                    <mat-icon svgIcon="menu"></mat-icon>
                </a>

                <a class="sideItem" [routerLink]="['/main']">
                    <mat-icon svgIcon="dashboard"></mat-icon>
                </a>
                
                <a class="sideItem" [routerLink]="['/main','minhacelula']">
                    <mat-icon svgIcon="formulario_metas"></mat-icon>
                </a>
                
                <a class="sideItem" [routerLink]="['/main','simulador']">
                    <mat-icon svgIcon="dashboard"></mat-icon>
                </a>
                
                <a class="sideItem" [routerLink]="['/main','planejamento']">
                    <mat-icon svgIcon="cronograma_metas"></mat-icon>
                </a>
                
                <a class="sideItem" [routerLink]="['/main','historico']">
                    <mat-icon svgIcon="archive"></mat-icon>
                </a>
                
                <a class="sideItem" [routerLink]="['/main','Cronograma']">
                    <mat-icon svgIcon="cronograma_metas"></mat-icon>
                </a>

                <a class="sideItem" [routerLink]="['/main','formularios']">
                    <mat-icon svgIcon="formulario_metas"></mat-icon>
                </a>
                <a class="sideItem" [routerLink]="['/main','formularios']">
                    <mat-icon svgIcon="configuracao"></mat-icon>
                </a>

            </div>

            <div class="bottomIcons">
                <a class="sideItem">
                    <mat-icon svgIcon="help_desk"></mat-icon>
                </a>

                <a class="sideItem" [routerLink]="['/main','orientacoes']">
                    <mat-icon svgIcon="orientacoes"></mat-icon>
                </a>

                <a class="sideItem" href="../../../assets/pdf/manualGestão.pdf" target="_blank">
                    <mat-icon svgIcon="cultura_gerdau"></mat-icon>
                </a>
            </div>
        </div>
        <div class="router" [@MainRouter]="Transicao()">
            <a style="cursor: pointer;" (click)="MudarLingua()">Mudar lingua</a>
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>-->