<div class="mensagem">
    <h3><b>{{mensagem?.titulo}}</b></h3>
    <span class="prazo">{{mensagem?.prazo | date:"shortDate"}}</span>
    <span class="texto" *ngIf="mostrarMais">
        {{mensagem?.texto}}
    </span>
    <div class="acoes-mensagem">
        <span class="date-acoes">
            {{mensagem?.dataPostagem | date:'MM/yy'}} às
            {{mensagem?.dataPostagem | date: 'HH:mm'}}
        </span>
        <a (click)="MostrarMaisMudarEstado()">{{mostraMaisText}}</a>
    </div>
</div>
