<table class="table">
    <tr class="header">
        <th>Collumn 1</th>
        <th>Collumn 2</th>
        <th>Collumn 3</th>
        <th>Collumn 4</th>
    </tr>

    <tr>
        <td>Data 1</td>
        <td>Data 2</td>
        <td>Data 3</td>
        <td>Data 4</td>
    </tr>
    <tr>
        <td>Data 1</td>
        <td>Data 2</td>
        <td>Data 3</td>
        <td>Data 4</td>
    </tr>
    <tr>
        <td>Data 1</td>
        <td>Data 2</td>
        <td>Data 3</td>
        <td>Data 4</td>
    </tr>
    
    <tr class="footer">
        <th>Total</th>
        <th></th>
        <th>Collumn 3</th>
        <th></th>
    </tr>
</table>
