<table class="table">
    <tr>
        <th>Indicador</th>
        <th>Un. de Medida</th>
        <th>Frequencia</th>
        <th>Peso</th>
        <th>Mínimo</th>
        <th>Planejado</th>
        <th>Desafio</th>
        <th>Resultado</th>
        <th>Simulação (SAL)</th>
    </tr>

    <tr *ngFor="let item of itemList">
        <td>{{item.peso}}</td>
        <td>{{item.unidadeMedida}}</td>
        <td>{{item.frequencia}}</td>
        <td>{{item.peso}}</td>
        <td>{{item.minimo}}</td>
        <td>{{item.planejado}}</td>
        <td>{{item.desafio}}</td>
        <td>{{item.resultado}}</td>
        <td>{{item.simulacao}}</td>
    </tr>
    
    
    <tr>
        <th class="resumo">Total</th>
        <th class="resumo"></th>
        <th class="resumo">{{GetFrequenciaTotal()}}</th>
        <th class="resumo"></th>
        <th class="resumo"></th>
        <th class="resumo"></th>
        <th class="resumo"></th>
        <th class="resumo"></th>
        <th class="resumo"></th>
    </tr>
</table>
