<table class="table">
    <tr>
        <th>Collumn 1</th>
        <th>Collumn 2</th>
        <th>Collumn 3</th>
        <th>Collumn 4</th>
    </tr>

    <tr>
        <td>Data 1</td>
        <td>Data 2</td>
        <td>Data 3</td>
        <td>Data 4</td>
    </tr>
    <tr>
        <td>Data 1</td>
        <td>Data 2</td>
        <td>Data 3</td>
        <td>Data 4</td>
    </tr>
    <tr>
        <td>Data 1</td>
        <td>Data 2</td>
        <td>Data 3</td>
        <td>Data 4</td>
    </tr>
    
    <tr>
        <th class="resumo">Total</th>
        <th class="resumo"></th>
        <th class="resumo">Collumn 3</th>
        <th class="resumo"></th>
    </tr>
</table>
