<nav class="months-menu">
    <div class="month-menu-item" [class.month-menu-item-active]="CheckMes(0)" (click)="ChangeMes(0)">
      {{navegacaoMesesLinguagem?.item1}}
    </div>
    <div class="month-menu-item" [class.month-menu-item-active]="CheckMes(1)" (click)="ChangeMes(1)">
      {{navegacaoMesesLinguagem?.item2}}
    </div>
    <div class="month-menu-item" [class.month-menu-item-active]="CheckMes(2)" (click)="ChangeMes(2)">
      {{navegacaoMesesLinguagem?.item3}}
    </div>
    <div class="month-menu-item" [class.month-menu-item-active]="CheckMes(3)" (click)="ChangeMes(3)">
      {{navegacaoMesesLinguagem?.item4}}
    </div>
    <div class="month-menu-item" [class.month-menu-item-active]="CheckMes(4)" (click)="ChangeMes(4)">
      {{navegacaoMesesLinguagem?.item5}}
    </div>
    <div class="month-menu-item" [class.month-menu-item-active]="CheckMes(5)" (click)="ChangeMes(5)">
      {{navegacaoMesesLinguagem?.item6}}
    </div>
    <div class="month-menu-item" [class.month-menu-item-active]="CheckMes(6)" (click)="ChangeMes(6)">
      {{navegacaoMesesLinguagem?.item7}}
    </div>
    <div class="month-menu-item" [class.month-menu-item-active]="CheckMes(7)" (click)="ChangeMes(7)">
      {{navegacaoMesesLinguagem?.item8}}
    </div>
    <div class="month-menu-item" [class.month-menu-item-active]="CheckMes(8)" (click)="ChangeMes(8)">
      {{navegacaoMesesLinguagem?.item9}}
    </div>
    <div class="month-menu-item" [class.month-menu-item-active]="CheckMes(9)" (click)="ChangeMes(9)">
      {{navegacaoMesesLinguagem?.item10}}
    </div>
    <div class="month-menu-item" [class.month-menu-item-active]="CheckMes(10)" (click)="ChangeMes(10)">
      {{navegacaoMesesLinguagem?.item11}}
    </div>
    <div class="month-menu-item" [class.month-menu-item-active]="CheckMes(11)" (click)="ChangeMes(11)">
      {{navegacaoMesesLinguagem?.item12}}
    </div>
    <div class="month-menu-item" [class.month-menu-item-active]="CheckMes(12)" (click)="ChangeMes(12)">
      {{navegacaoMesesLinguagem?.item13}}
    </div>
  </nav>