$color1: white;

.general-header {
    width: 100%;
    padding: 35px;
    background-color: $color1;

    h1 {
        font-family: work sans;
    }

    span {
        font-family: work sans;
    }
}