<svg style="width:100%;">
    <circle cx="5%" cy="50%" r="1.5%" class="circle" 
        [class.unavailable]="biggerOrEqualTo(0)"
        [class.current]="status==0"
    />
    <text class="text" x="4%" y="72%" font-size="12px" >Preencher</text>
    <text class="text" x="4%" y="82%" font-size="12px" >indicadores</text>
    
    <line class="line" x1="6%" y1="50%" x2="18%" y2="50%" class='line' 
        [class.unavailable]="biggerOrEqualTo(1)"/>
    <circle cx="19%" cy="50%" r="1.5%" class="circle"
        [class.unavailable]="biggerOrEqualTo(1)"
        [class.current]="status==1"
    />
    <text class="text-unavailable" class="text" x="18%" y="72%" font-size="12px" >Planejado/aberto</text>
    <text class="text-unavailable" class="text" x="18%" y="82%" font-size="12px" >para check-in</text>
    
    <line class="line" x1="20%" y1="50%" x2="32%" y2="50%"
        [class.unavailable]="biggerOrEqualTo(2)"/>
    <circle  cx="33%" cy="50%" r="1.5%" class="circle"
        [class.current]="status==2"
        [class.unavailable]="biggerOrEqualTo(2)"
    />
    <text class="text-unavailable" class="text" x="32%" y="72%" font-size="12px" >Em aprovação</text>
    
    <line class="line" x1="34%" y1="50%" x2="46%" y2="50%"  
        [class.unavailable]="biggerOrEqualTo(3)" />
    <circle  cx="47%" cy="50%" r="1.5%" class="circle"
        [class.unavailable]="biggerOrEqualTo(3)"
        [class.current]="status==3"
    />
    <text class="text-unavailable" x="46%" y="72%" font-size="12px" >Aprovado</text>
    
    <line x1="48%" y1="50%" x2="60%" y2="50%" class="line"
        [class.unavailable]="biggerOrEqualTo(4)"/>
    <circle  cx="61%" cy="50%" r="1.5%" class="circle"
        [class.unavailable]="biggerOrEqualTo(4)"
        [class.current]="status==4"
    />
    <text class="text-unavailable" x="60%" y="72%" font-size="12px" >Planejado/aberto</text>
    <text class="text-unavailable" x="60%" y="82%" font-size="12px" >para check-in</text>
    
    <line class="line" x1="62%" y1="50%" x2="74%" y2="50%"
        [class.unavailable]="biggerOrEqualTo(5)"/>
    <circle  cx="75%" cy="50%" r="1.5%" class="circle"
        [class.unavailable]="biggerOrEqualTo(5)"
        [class.current]="status==5"
    />
    <text class="text-unavailable" x="74%" y="72%" font-size="12px" >Em aprovação</text>
    
    <line class="line" x1="76%" y1="50%" x2="88%" y2="50%"
        [class.unavailable]="biggerOrEqualTo(6)"/>
    <circle  cx="89%" cy="50%" r="1.5%" class="circle"
        [class.unavailable]="biggerOrEqualTo(6)"
        [class.current]="status==6"
    />
    <text class="text-unavailable" x="88%" y="72%" font-size="12px" >Aprovado</text>
</svg>
