$color1:#003366;
$color2: #d3d3d3;

.circle{    
    fill: $color1;
    stroke:$color1;
    stroke-width: 2px;
}

.current{
    fill: none;
    stroke:$color1;
    stroke-width: 2px;
}

.line{
    stroke: $color1;
    stroke-width: 2px;
}

.unavailable{
    fill: none;
    stroke: $color2;
}

.text-unavailable{
    fill: $color2;
}

.text {
    fill: $color1;
}