<svg style="width:100%;">
    <circle cx="8%" cy="50%" r="1.5%" fill="#003366"/>
    <line class="line" x1="9%" y1="50%" x2="21%" y2="50%" stroke="#003366" stroke-width="2px"/>
    <text x="7%" y="80%" font-size="12px" >Preencher</text>
    <text x="7%" y="95%" font-size="12px" >indicadores</text>
    
    <circle cx="22%" cy="50%" r="1.5%"/>
    <line class="line" x1="23%" y1="50%" x2="35.25%" y2="50%" stroke="black" stroke-width="2px"/>
    <text x="21%" y="80%" font-size="12px" >Planejado/aberto</text>
    <text x="21%" y="95%" font-size="12px" >para check-in</text>

    <circle  cx="36%" cy="50%" r="1.5%"/>
    <line class="line" x1="37%" y1="50%" x2="49.25%" y2="50%"  stroke="black" stroke-width="2px"/>
    <text x="35%" y="80%" font-size="12px" >Em aprovação</text>

    <circle  cx="50%" cy="50%" r="1.5%"/>
    <line class="line" x1="51%" y1="50%" x2="63.25%" y2="50%" stroke="black" stroke-width="2px"/>
    <text x="49%" y="80%" font-size="12px" >Aprovado</text>

    <circle  cx="64%" cy="50%" r="1.5%"/>
    <line class="line" x1="65%" y1="50%" x2="77.25%" y2="50%"  stroke="black" stroke-width="2px"/>
    <text x="63%" y="80%" font-size="12px" >Planejado/aberto</text>
    <text x="63%" y="95%" font-size="12px" >para check-in</text>

    <circle  cx="78%" cy="50%" r="1.5%"/>
    <line class="line" x1="79%" y1="50%" x2="91.25%" y2="50%"  stroke="black" stroke-width="2px"/>
    <text x="77%" y="80%" font-size="12px" >Em aprovação</text>

    <circle  cx="92%" cy="50%" r="1.5%"/>
    <text x="91%" y="80%" font-size="12px" >Aprovado</text>
</svg>
