<nav class="nav-status">
    <a class="nav-status-item" [routerLink]="['notificacoes']">
        Notificações pendentes
    </a>
    <a class="nav-status-item" [routerLink]="['cronograma']">
        Cronograma metas
    </a>
    <a class="nav-status-item" [routerLink]="['solicitacoes']">
        Solicitações enviadas
    </a>
    <a class="nav-status-item" [routerLink]="['sobrestatusmetas']">
        Sobre o status metas
    </a>
</nav>
<div class="status-body">

    <router-outlet></router-outlet>

</div>