@import '../Shared/css/general/general-header.scss';
@import '../Shared/css/general/general-body.scss';

.home-header{
    @extend .general-header;

    padding-bottom: 0px;
}

.dashboard-panel {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: none;

    .title {
        font-size: 25pt;
        padding-bottom: 10px;
    }

    .stepper-area {
        width: 100%;
        height: 100px;
    }

    .months-menu {
        display: flex;
        justify-content: space-around;
        width: 100%;
        overflow: hidden;

        .month-menu-item {
            display: flex;
            padding-left:1%;
            padding-right:1%;
            height: 100%;
            height: 25px;
            align-items: center;
            justify-content: center;
            cursor: pointer;
        }

        .month-menu-item-active{
            color: rgb(29, 175, 243);
            border-bottom: 1px solid rgb(29, 175, 243);
        }

        .month-menu-item:hover {
            box-sizing: border-box;
            color:rgb(29, 175, 243);
        }
    }
}


.home-body{
    @extend .general-body;
}

.homeTable {
    display: flex;
    justify-content: center;
    width: 100%;
}
