<div class="home-header">
  <div class="dashboard-panel">
    <span class="last-update">Ultima atualização: {{status.dataAtualizacao | date:"shortDate"}}</span>
    <h1 class="title">Dashboard da minha célula</h1>

    <app-metas-stepper [status]="status.status" style="margin-bottom: 25px;"></app-metas-stepper>

    <nav class="months-menu">
      <div class="month-menu-item" 
        [class.month-menu-item-active]="CheckMes(0)"
        (click)="ChangeMes(0)">
        <a>Janeiro</a>
      </div>
      <div class="month-menu-item"
        [class.month-menu-item-active]="CheckMes(1)"
        (click)="ChangeMes(1)">
        Fevereiro
      </div>
      <div class="month-menu-item"
      [class.month-menu-item-active]="CheckMes(2)"
      (click)="ChangeMes(2)">
        Março 
      </div>
      <div class="month-menu-item"
      [class.month-menu-item-active]="CheckMes(3)"
      (click)="ChangeMes(3)">
        Abril
      </div>
      <div class="month-menu-item"
        [class.month-menu-item-active]="CheckMes(4)"
        (click)="ChangeMes(4)">
        Maio
      </div>
      <div class="month-menu-item"
      [class.month-menu-item-active]="CheckMes(5)"
      (click)="ChangeMes(5)">
      Junho
      </div>
      <div class="month-menu-item"
        [class.month-menu-item-active]="CheckMes(6)"
        (click)="ChangeMes(6)">
        Julho
      </div>
      <div class="month-menu-item"
        [class.month-menu-item-active]="CheckMes(7)"
        (click)="ChangeMes(7)">
        Agosto
      </div>
      <div class="month-menu-item"
        [class.month-menu-item-active]="CheckMes(8)"
        (click)="ChangeMes(8)">
        Setembro
      </div>
      <div class="month-menu-item"
        [class.month-menu-item-active]="CheckMes(9)"
        (click)="ChangeMes(9)">
        Outubro
      </div>
      <div class="month-menu-item"
        [class.month-menu-item-active]="CheckMes(10)"
        (click)="ChangeMes(10)">
        Novembro
      </div>
      <div class="month-menu-item"
      [class.month-menu-item-active]="CheckMes(11)"
      (click)="ChangeMes(11)">
        Dezembro
      </div>
      <div class="month-menu-item"
        [class.month-menu-item-active]="CheckMes(12)"
        (click)="ChangeMes(12)">
        Resultado
      </div>
    </nav>
  </div>

</div>

<div class="home-body">
  <app-home-table *ngIf="showMes" [itemList]="itemsList"></app-home-table>

  <app-resulthome-table *ngIf="!showMes"></app-resulthome-table>

  <app-faltahome-table *ngIf="!showMes"></app-faltahome-table>

</div>
