<div class="home-header">
  <div class="dashboard-panel">
    <div class="title-wrapper">

      <h1  name="title" id="id" class="title">{{homeLinguagem?.Title}}</h1>

      <div class="actions-area" *ngIf="false">
        <a href="" class="action-button">
          <mat-icon>check</mat-icon>
          <span >Avaliar resultados</span>
        </a>

        <a href="" class="action-button">
          <mat-icon>check</mat-icon>
          <span >Enviar para avaliação</span>
        </a>

        <a href="" class="action-button-white">
          <mat-icon>save</mat-icon>
          <span >salvar</span>
        </a>

        <a href="" class="action-button-white">
          <mat-icon>print</mat-icon>
          <span >Imprimir</span>
        </a>

      </div>
    </div>
    <span class="last-update">{{homeLinguagem?.subTitle}}:
      {{status.dataAtualizacao | date:"shortDate"}}</span>

    <app-metas-stepper [status]="status.status" [stepperLinguagem]="homeLinguagem?.Stepper"
    style="margin-bottom: 25px;"></app-metas-stepper>

    <nav class="months-menu">
      <div class="month-menu-item" [class.month-menu-item-active]="CheckMes(0)" (click)="ChangeMes(0)">
        {{homeLinguagem?.navegacaoMeses?.item1}}
      </div>
      <div class="month-menu-item" [class.month-menu-item-active]="CheckMes(1)" (click)="ChangeMes(1)">
        {{homeLinguagem?.navegacaoMeses?.item2}}
      </div>
      <div class="month-menu-item" [class.month-menu-item-active]="CheckMes(2)" (click)="ChangeMes(2)">
        {{homeLinguagem?.navegacaoMeses?.item3}}
      </div>
      <div class="month-menu-item" [class.month-menu-item-active]="CheckMes(3)" (click)="ChangeMes(3)">
        {{homeLinguagem?.navegacaoMeses?.item4}}
      </div>
      <div class="month-menu-item" [class.month-menu-item-active]="CheckMes(4)" (click)="ChangeMes(4)">
        {{homeLinguagem?.navegacaoMeses?.item5}}
      </div>
      <div class="month-menu-item" [class.month-menu-item-active]="CheckMes(5)" (click)="ChangeMes(5)">
        {{homeLinguagem?.navegacaoMeses?.item6}}
      </div>
      <div class="month-menu-item" [class.month-menu-item-active]="CheckMes(6)" (click)="ChangeMes(6)">
        {{homeLinguagem?.navegacaoMeses?.item7}}
      </div>
      <div class="month-menu-item" [class.month-menu-item-active]="CheckMes(7)" (click)="ChangeMes(7)">
        {{homeLinguagem?.navegacaoMeses?.item8}}
      </div>
      <div class="month-menu-item" [class.month-menu-item-active]="CheckMes(8)" (click)="ChangeMes(8)">
        {{homeLinguagem?.navegacaoMeses?.item9}}
      </div>
      <div class="month-menu-item" [class.month-menu-item-active]="CheckMes(9)" (click)="ChangeMes(9)">
        {{homeLinguagem?.navegacaoMeses?.item10}}
      </div>
      <div class="month-menu-item" [class.month-menu-item-active]="CheckMes(10)" (click)="ChangeMes(10)">
        {{homeLinguagem?.navegacaoMeses?.item11}}
      </div>
      <div class="month-menu-item" [class.month-menu-item-active]="CheckMes(11)" (click)="ChangeMes(11)">
        {{homeLinguagem?.navegacaoMeses?.item12}}
      </div>
      <div class="month-menu-item" [class.month-menu-item-active]="CheckMes(12)" (click)="ChangeMes(12)">
        {{homeLinguagem?.navegacaoMeses?.item13}}
      </div>
    </nav>
  </div>

</div>

<div class="home-body" *ngIf="showMes">

  <div style="width: 100%;" *ngFor="let formulario of formularioList">
    <div class="table-title">
      <h2>{{formulario.titulo}} (Jan)</h2>
    </div>
    <app-home-table [tabelaLinguagem]="homeLinguagem?.tabela" [itemList]="formulario.indicadores"></app-home-table>
  </div>

</div>

<div class="home-body" *ngIf="!showMes">
  <app-resulthome-table [resultadosLinguagem]="homeLinguagem?.tabelaResultado" [resultados]="resultadosList"></app-resulthome-table>

  <app-faltahome-table [faltasLinguagem]="homeLinguagem?.tabelaFalta" [faltas]="faltas"></app-faltahome-table>
</div>